.owl-stage {
    display: flex !important;
    align-items: center;
}

.alignCenter {
    font-size: 20px;
}

.item {
    margin-bottom: 20px;
}

@media screen and (max-width: 767px){
    .brends .item {
        height: 90px !important;
        width: 100px !important;
    }
}

