.slide {
    background: #EFEFEF;
}

.slide img, .slide div {
    height: 100%;
    margin: 0 auto;
}

.slide img {
    width: 60% !important;
    height: 400px;
}

.carouselHeader {
    text-align: center;
    color: #0D2551;
    padding: 20px;
}
@media screen and (max-width: 991px) {
    .carousel .owl-item{
        width: 40% !important;
    }
    .carousel  .owl-item .item{
        width: 100% !important;
        height: 300px !important;
    }
}
@media screen and (max-width: 425px) {
    h1 {
        font-size: 15px;
    }

    .slide img {
        width: 100% !important;
    }
}

@media screen and (max-width: 320px){
    .carousel .owl-item .item {
        height: 250px !important;
    }
}
